<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/assets/login/css/index.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Email</h1><br>
    <input  id="userInput" type="text"     name="name" placeholder="Username"><br>
    <h2>Password</h2><br>
    <input  id="passInput" type="password" name="pass" placeholder="Password"><br>
    <button id="loginBtn">Sign In</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/login/js/index.js"></script>
</body>
</html>